apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-abgkyjhv
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-abgkyjhv:5ced6099c8eb0f8f480ed926fdda9da9bc3e9b6b@sha256:513f0c1520f9c9a8912c3b1ab2af125168a1e88438d8c53803bcf742e96113d4
        name: container-image  
